


/* frequent questions style */ 

#frequent-questions{
    width:100%;
    background-color: #161616;
    display: flex;
    align-items: center;
    justify-content: center;
    padding:60px 0 30px;
   
}
.main-container{
    width:63%;  
    padding:40px 0 20px;
}
.question-title{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-bottom:15px;
}

.question-title p{
    font-size:22px;
    color:#FFFFFF;
}

.question-title span{
    font-size:20px;
    color:#00AEF3;
    cursor: pointer;
    line-height: 28px;
}

.question-title span:hover{
    color:#9e9e9e;
}

.hide-answer{
  opacity:0;
  overflow: hidden;
  height:0;
}

.show-answer {
    opacity: 1;
    height: auto;
    transition: all 1.5s ease-out;
  }

  .arrow-rotate{
    transform: rotate(180deg);
  }
 


.about{
    font-size:14px;
    color: #c8c8c8;
    margin-bottom:30px;
}

.answer{
    font-size:14px;
    color: #c8c8c8;
    line-height: 1.8em;
    letter-spacing: 1.1px;
   
}


.answer br {
    margin-bottom: 10px; 
    display: block; 
    content: ""; 
}

.ps{
    margin:30px 0 35px;
    font-size:14px;
    color: #c8c8c8;
}

.questions{
    width:100%;
}

.question{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin:30px 0;
    cursor: pointer;
}
.question p{
    font-size:18px;
    color:#FFFFFF;
}



.border{
    width:100%;
    height:0.8px;
    background-color: #353131;
    margin:10px 0;
}

.all-questions{
    display: none;
}


/* media query for Frequent questions section */

@media (max-width:768px){

    .main-container{
        width:80%;
    }

    .question-title span{
        display: none;
    }

    .question-title{
        justify-content: flex-start;
    }
    .question{
        font-size:16px;
    }

    .all-questions {
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .all-questions span{
        font-size:22px;
        color:#00AEF3;
        cursor: pointer;
        margin-top:35px;
    }
}
