
*{
    padding:0;
    margin:0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}

body{
    width:100%;
}

/* Header styles */ 

#tbc-header{
    width:100%;
    background-color: #1a1e1f;
    padding:20px 0;
    display: flex;
    justify-content: center;
    position:fixed;
    transition: background-color 0.4s ease-in-out;
}
#tbc-header.scrolled {
    background-color: #1a1e1f;
    opacity:0.9;
    transition: background-color 0.4s ease-in-out; 
}

.header-container{
    width:67%;
    display: flex;
    align-items: center;
    justify-content:space-between;
}

.tbc-logo img{
   height:40px;
   cursor: pointer;
}
.tbc-logo p{
    color:#f4f4f4;
    font-size:14px;
    padding:0 15px;
}

.header-nav-bar, ul, li {
    display: flex;
    align-items: center;
}
.header-nav-bar a{
    color:#f4f4f4;
    font-size:14px;
    padding:0 15px;
    cursor: pointer;
    transition: color 0.4s ease-in-out;
}

.header-nav-bar ul li:nth-child(3) a {
    color: #0e8cbf;
}


.header-nav-bar a:hover{
    color:#0e8cbf;
    transition: color 0.4s ease-in-out;
}

/* education section style */

#tbc-education{
    width:100%;
  
}

.banner-container{
    width:100%;
    height:420px;
    background-image: url("./images/stuff-img.webp");
    background-size:cover;
    background-repeat: no-repeat;
}

.banner-title {
    height: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width:67%;
    margin:auto;

}
.banner-title h3{
    font-size:42px;
    color:#f4f4f4;
    display: flex;
    flex-direction: column;
    line-height: 1.6em;
}

.banner-description{
    width:100%;
    background-color: #2b2b2b;
    padding:50px 0;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: flex-start;
}
.banner-description p{
    font-size:28px;
    color:#f4f4f4;
    line-height: 1.6em;
    width:67%;
    margin: 0 auto 40px;
}
.read-more-link{
    width:67%;
    display: flex;
    align-items: flex-start;
    margin:auto;
}
.read-more-link a{
    color:#0e8cbf;
    cursor: pointer;
    transition: color 0.4s ease-in-out;
}
.read-more-link a:hover{
    color:#7e7e7e;
    transition: color 0.4s ease-in-out;
}