
/* education section style */

#tbc-education{
    width:100%;
    padding-top:79px;
    z-index: 0;
}

.banner-container{
    width:100%;
    background-image: url("../images/banner.webp");
    background-size:cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 380px;
}

.banner-title {
    height: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width:67%;
    margin:auto;
}
.banner-title h3{
    font-size:34px;
    color:#f4f4f4;
    display: flex;
    flex-direction: column;
    line-height: 1.6em;
    font-weight: 800;
}

.banner-title h3>span{
    font-size:42px;
    font-weight:800;
}

.banner-description{
    width:100%;
    background-color: #2b2b2b;
    padding:50px 0;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}
.banner-description p{
    font-size:28px;
    color:#f4f4f4;
    line-height: 1.6em;
    width:67%;
    margin: 0 auto 40px;
    font-weight: 400;
}
.read-more-link{
    width:67%;
    display: flex;
    align-items: flex-start;
    margin:auto;
}
.read-more-link a{
    color:#00AEF3;
    cursor: pointer;
    transition: color 0.4s ease;
    font-size:20px;
    font-weight:400;
}
.read-more-link a:hover{
    color:#7e7e7e;
    transition: color 0.4s ease;
}

/* media query for education section */

@media(max-width:1024px){
    .banner-description p{       
        width:75%;    
    }
    .read-more-link{
        width:75%;    
    }
    .banner-title {
        width: 75%;
    }
}

@media(max-width:768px){
    .banner-description p{
        font-size: 16px;
    }

    .read-more-link a{
        font-size: 16px;
    }
}

@media(max-width:385px){

    .banner-title h3{
        font-size:26px;
        
    }

    .banner-title h3>span{
        font-size:32px;
        font-weight:800;
    }
}